{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Add component{% endblock %}
{% block content %}
    <img src="{{ component.image.url }}" alt="Component image">
    {% for field in component|get_object_fields_and_values %}
        {% if field.name not in excluded_fields %}
        <ul>
             {{ field.name }}: {{ field.value }}
        </ul>
        {% endif %}
    {% endfor %}
    {% if user_is_moderator %}
    <button>
        <a href="{% url 'delete_hardware' model=request.resolver_match.kwargs.model pk=component.pk %}">
            Delete
        </a>
    </button>
    <button>
        <a href="{% url 'edit_hardware' model=request.resolver_match.kwargs.model pk=component.pk %}">
            Edit
        </a>
    </button>
    {% endif %}
{% endblock %}