{% extends 'base.html' %}
{% block title %} {% endblock title %}

{% block content %}
    {{ message }}
    <form method="POST" action="{% url 'delete_profile' pk=user.pk %}" enctype="multipart/form-data">
        {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
        {% endif %}
        {{ form.as_p }}
        {% csrf_token %}
    <button type="submit">Delete</button>
    </form>
    <br>
    <a href="{% url 'profile_details' pk=user.pk %}">
    <button type="submit">Back</button>
    </a>


{% endblock %}