{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for user in users_list %}
    <div class="list">
        <div class="list-item">
            {% if user.profile_picture %}
                <a href="{% url 'profile_details' pk=user.pk %}"><img src="{{ user.profile_picture.url }}" alt="Picture" > {{ user }}</a>
            {% else %}
                <a href="{% url 'profile_details' pk=user.pk %}">None {{ user }}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}

