.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
  align-items: start;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}


.articles-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(30%, 1fr));
    gap: 3.3%;
    max-width: 33%; /* Set a maximum width for the container if desired */
    margin: 0 auto; /* Center the container horizontally */
}

.article-box {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    /* Additional styling for the article boxes */
}


.article-box img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.article-content {
    flex-grow: 1; /* Allow content to expand within the article box */
    overflow: hidden;
}

.article-text {
    max-height: 100%; /* Allow text to expand within the content container */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px; /* Add a margin between text and other content */
}
