{% extends 'base.html' %}
{% load static %}
{% block title %}Access Denied.{% endblock %}
{% block content %}
<h1 style="text-align: center">
   Access Denied.
</h1>
    <img src="{% static 'local_media_files/Access-denied.jpg' %}" alt="!" style="width: 100%">
<h2 style="text-align: center">
    You do not have permission to access this page.
</h2>

<h2 style="justify-content: center">
    Please contact the administrator(s) to request access or report an error.
</h2>
    <a href="{% url 'contact_form' %}" style="text-align: center"><button>Contact Us</button></a>
{% endblock %}