{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'common/base.css' %}">
{% block additional_styles %}{% endblock %}

<body>
{#<header>#}
{#    <h1>Tony's Hardware</h1>#}
{#</header>#}
<div class="container">
    <nav class="navbar">
        <a href="{% url 'home page' %}">
        <img src="{%  static 'local_media_files/homepage_icon.png' %}" style="width: 40px; height: 26px; margin-top: 8px" alt="">
            Home
        </a>
         <a href="{% url 'users_list'  %}">
        <img src="{% static 'local_media_files/user_group_icon.png' %}" style="width: 50px; height: 45px; margin-top: 8px" alt="">
             Users List
        </a>
         <a href="{% url 'list_hardware' model='NvidiaGPU' %}">
        <img src="{% static 'local_media_files/gpu_image.png' %}"  alt="">
            GPUs
        </a>
         <a href="{% url 'list_hardware' model='Cpu' %}">
        <img src="{% static 'local_media_files/cpu_image.png' %}" alt="">
            CPUs
        </a>
         <a href="{% url 'list_hardware' model='RAMMemory' %}">
        <img src="{% static 'local_media_files/ram_memory_image.png' %}" alt="">
            RAM
        </a>
         <a href="{% url 'list_hardware' model='MotherBoard' %}">
        <img src="{% static 'local_media_files/motherboard_image.png' %}" style="height: 44px; margin-bottom: 4px" alt="">
            Motherboards
        </a>
         <a href="{% url 'list_hardware' model='StorageDrive' %}">
        <img src="{% static 'local_media_files/sata_2.5_nvme_drive_image.png' %}" style="width: 50px; height: 35px;" alt="">
            Storage
        </a>
         <a href="{% url 'list_hardware' model='Psu' %}">
        <img src="{% static 'local_media_files/psu_image.png' %}" style="width: 55px; height: 40px;" alt="">
            PSUs
        </a>
         {% if request.user.is_authenticated %}
         <a href="{% url 'profile_details' pk=user.pk %}">
        <img src="{% static 'local_media_files/profile_icon.png' %}" alt="">
            Your Profile
        </a>
         <a href="{% url 'logout' pk=user.pk %}">
        <img src="{% static 'local_media_files/logout_icon.png' %}" style="width: 35px; height: 30px;" alt="">
            Logout
        </a>
         {% else %}
         <a href="{% url 'register' %}">
        <img src="{% static 'local_media_files/register_icon.png' %}" style="width: 30px; height: 30px; margin-top: 5px" alt="">
            Register
        </a>
         <a href="{% url 'login' %}">
        <img src="{% static 'local_media_files/login_icon.png' %}" style="width: 30px; height: 30px;" alt="Login">
            Login
        </a>
     {% endif %}
    </nav>
    <section class="content">
        <div class="content-block">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <footer class="footer">
        <p>&copy; 2023 Tony's Hardware. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
