/*html, body {*/
/*  height: 100%;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh;*/
/*}*/

/*.header {*/
/*  position: relative;*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  background-position: center center;*/
/*  height: 300px;*/
/*}*/

/*.content {*/
/*  background-image: url('/static/local_media_files/tonys_hardware_background_image.png');*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  min-height: 90vh;*/
/*}*/

/*.footer {*/
/*    background-color: black;*/
/*  background-size: cover;*/
/*  background-repeat: no-repeat;*/
/*  background-position: center center;*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  height: 60px;*/
/*}*/

/*.navbar {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*  background-color: #6e0f15;*/
/*  font-style: normal;*/
/*}*/

/*.navbar a {*/
/*  display: flex;*/
/*  flex-direction: row-reverse;*/
/*  align-items: center;*/
/*  text-decoration: none;*/
/*  color: #000000;*/
/*}*/

/*.navbar a img {*/
/*  width: 80px;*/
/*  height: 50px;*/
/*  margin-bottom: 1px;*/
/*}*/

/*.navbar a:hover {*/
/*  color: #ffffff;*/
/*}*/


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

}

.header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

.content {
  background-image: url('/static/local_media_files/tonys_hardware_background_image.png');
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 60px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6e0f15;
  font-style: normal;
}

.navbar a {
  text-decoration: none;
  color: #000000;
}

.navbar a img {
  width: 80px;
  height: 50px;
  margin-bottom: 1px;
}

.navbar a:hover {
  color: #ffffff;
}

.header,
.footer {
  grid-column: 1 / -1;
}
